---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
bootstrapTokens:
localAPIEndpoint:
  advertiseAddress: {{ inventory_hostname }}
  bindPort: 6443
nodeRegistration:
  criSocket: unix:///var/run/containerd/containerd.sock
  imagePullPolicy: IfNotPresent
  name: {{ ansible_facts.hostname }}
  taints: null
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
clusterName: {{ cluster_name }}
controlPlaneEndpoint: {{ kube_proxy }}:6443
imageRemycompanytory: registry.k8s.io
networking:
  dnsDomain: cluster.local
  serviceSubnet: 172.16.0.0/16
apiServer:
  extraArgs:
    authorization-mode: Node,RBAC
    cloud-config: /etc/kubernetes/.vsphere.conf
    cloud-provider: vsphere
  extraVolumes:
  - hostPath: /etc/kubernetes/.vsphere.conf
    mountPath: /etc/kubernetes/.vsphere.conf
    name: cloud
  timeoutForControlPlane: 4m0s
controllerManager:
  extraArgs:
    cloud-config: /etc/kubernetes/.vsphere.conf
    cloud-provider: vsphere
  extraVolumes:
  - hostPath: /etc/kubernetes/.vsphere.conf
    mountPath: /etc/kubernetes/.vsphere.conf
    name: cloud
dns: {}
certificatesDir: /etc/kubernetes/pki
etcd:
  local:
    dataDir: /var/lib/etcd
---
kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
cgroupDriver: systemd
